@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
/* SEBELUM MENULIS KODE BARIS CSS PERTAMA WAJIB UNTUK MENGATUR AGAR CELAH TIDAK ADA 
    PENGATURANNYA SEPERTI INI!*/
*, html, body {
    padding: 0;
    margin: 0;
}
/* Maksut kode diatas adalah kita mengatur celah di dalam web agar tidak ada, karena defaultnya
    sebuah web memiliki celah yang dimana harus kita beri nilai 0 agar tidak ada. */
/* Silahkan coba matikan dan nyalakan baris kode diatas dengan ctrl + / agar mengetahui hasilnya*/


html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #6195bf, #646092);
}


/* Pertama atur lebar, tinggi, dan display dari header agar bisa dijadikan sebagai navbar */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    /* kemudian beri warna backgroundnya */
    background-color: #bebcce;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Kemudian kita lanjut membuat style pada div yang sudah diberi nama class yaitu nama */
.nama{
    /* Kita atur tinggi nya agar sama dengan wadahnya yaitu header*/
    height: 100%;
    /* Kemudian kita atur agar tampilannya berjejer kesamping dengan display flex dan kawan-kawan */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
    /* border: 1px solid black; */
}



/* INI ADALAH KOMENTAR.
Komentar tidak akan dijalankan oleh web.
Jika ingin menyalakannya tinggal pilih sintaks yang ingin dijalankan dan klik ctrl + / */
/* div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
}

.nav{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.navbar{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar li a{
    margin: 20px;
    color: slategray;
    font-family: Hammersmith One;
    font-weight: bold;
    padding: 10px;
    transition: .5s ease;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: slategray;
    color: white;
    padding: 10px;
    border-radius: 20%;
    transition: .5s ease;
}

.navbar1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* border: 1px solid black; */
}

.navbar1 li{
    margin: 6px;
}

.jumbotron{
    width: 100%;
    /* border: 1px solid white; */
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    z-index: 1;
    
}

.img-depan{
    display: flex;
    margin-right: 0px;
    width: 50%;
    justify-content: center;
    /* border: 1px solid black; */
}

.jumbotron .judul{
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
    /* color: solid black; */
    font-size: 30px;

}

.neh {
    line-height: 100px;
    letter-spacing: 7px;
}

.img-dua{
    display: flex;
    margin-right: 0px;
    width: 50%;
    justify-content: center;
    /* border: 1px solid black; */
}

.jumbotron .judul1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* color: solid black; */
    font-size: 30px;
}

.judul1{
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.neh1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Agbalumo';
}

.t{
    font-size: 25px;
    font-family: 'Poppins';
}

#projek{
    /* border: 1px solid black; */
    margin-bottom: 100px;
}

.sulit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.susah{
    width: 80%;
    /* border: 1px solid green; */
}

.saya{
    text-align: center;
    font-size: 70px;
    word-spacing: 10px;
}

.sembarang{
    display: flex;
}

.kami{
    display: flex;
    justify-content: center;
    width: 50%;
}

.satu{
    width: 300px;
    height: 400px;
}

#ngoding{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.angel{
    width: 80%;
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.kulo{
    width: 350%;
    text-align: center;
    font-size: 70px;
    word-spacing: 5px;
    font-family: 'Dhurjati';
    /* border: 1px solid black; */
}

.kita{
    width: 50px;
    /* border: 1px solid black; */
}

#mulai{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.tkj{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.tkj2{
    width: 100%;
    text-align: center;
    font-size: 70px;
    word-spacing: 5px;
    font-family: 'Dhurjati';
    /* border: 1px solid black; */
}

.kusnul{
    display: flex;

}

.tkj12{
    /* border: 1px solid pink;  */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#absen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.agung{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.fani{
    width: 100%;
    text-align: center;
    font-size: 70px;
    word-spacing: 5px;
    font-family: 'Dhurjati';
    /* border: 1px solid black; */
}

.pino{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

#sertifikat{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.aje{
    width: 100%;
    text-align: center;
    font-size: 70px;
    word-spacing: 5px;
    font-family: 'Dhurjati';
    /* border: 1px solid black; */
}

.celci{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}